@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #c8cbcf;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #c8cbcf;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

/*========== base styles ==========*/

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  /* color: inherit; */
  font-size: inherit;
}

html {
  font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-light-gray);
  background-color: #22364b;
  min-height: 80vh;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  color: #0052aa;
  text-decoration: none;
}

/*========== components ==========*/
.container {
  max-width: 120rem;
  width: 100%;
  margin: auto;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-gray);
}


/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 > .container > div:first-child {
  flex-basis: 18%;
  max-width: 22.5rem;
}

.layout--3 > .container > div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 25%;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 100%;
  border: 1px solid #9ca8b7;
}
/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Room
================================*/

.room,
.participants {
  background: #9ca8b7;
  max-height: 93vh;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 900px) {
  .participants {
    display: none;
  }

  .layout--2 > .container > div:first-child {
    flex-basis: 100%;
  }
}

.room__top,
.participants__top {
  background: #24466b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.room__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
  cursor: pointer;
}

.room__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.room__topLeft h3,
.participants__top {
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 10px;
}

.room__topLeft svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
}

.room__topRight {
  display: flex;
  column-gap: 1em;
}

.room__topRight svg {
  fill: var(--color-main-light);
}

.room__header {
  max-height: 30vh;
  overflow-y: auto;
  position: absolute;
  width: 95%;
  background: var(--color-dark);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .room__header {
    top: 4.3rem;
    padding-right: 2rem;
  }
}

.room__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 80.5vh;
  /* overflow-y: auto; */
  padding-bottom: 0;
}

@media screen and (max-width: 500px) {
  .room__box {
    padding-left: 2.5rem;
    padding-right: 2rem;
    height: 80.5vh;
    overflow-y: auto;
    padding-bottom: 0;
  }
}

.room__info {
  display: flex;
  justify-content: space-between;
}

.room__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-main);
}

.room__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.room__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.room__author:hover {
  text-decoration: underline;
}

.room__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.room__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 125%;
  margin-top: 5vh;
  padding: 0 2rem 4rem 2rem;
}

.thread {
  border-left: 2px solid #152333;
  padding-left: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #001936;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  color: #001936;
}

.room__message {
  padding: 2rem;
  position: absolute;
  z-index: 111;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.room__message > form > input {
  resize: none;
  background-color: var(--color-dark-light);
  color: #001936;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 100%;
  margin-top: -1rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.room__message > form > input::placeholder {
  color: #001936;
}

.participants__top span {
  color: var(--color-main);
  font-size: 1.3rem;
  text-transform: none;
}

.participants__top {
  justify-content: flex-start;
  gap: 0.5rem;
}

.participants__list {
  padding: 2rem;
  height: 82.5vh;
  overflow-y: scroll;
  padding-bottom: 0;
}

.participant {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.participant p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.participant span {
  display: block;
  font-weight: 500;
  color: var(--color-main);
  font-weight: 1.4rem;
}

img {
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.countdown{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

button{
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--color-bg);
    border-color: #1f1f27;
    color: #182737;
    font-weight: bold;
}

.Exit{
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    background-color: #f3d6d6;
    border-color: #1f1f27;
    font-weight: bold;
}

.button a {
  text-decoration: none;
  color: #810000;
}