<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="{% static 'styles/FAQs.css' %}"/>
    <title>FAQs</title>
</head>

<body>
{% include 'base/navbar.html' %}

<section>
    <h2 class="title"> FAQs</h2>

    <div class="faq">
        <div class="question">
            <h3> What is a mental illness?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>Mental illness refers to a wide range of mental health conditions or disorders that affect a person’s
                mood,
                thinking and behavior.</p>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <h3>How common are mental illnesses?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>Mental illnesses are very common.
                1 out 4 adults is at risk of developing a mental disorder before the age of 75 years.</p>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <h3> What causes mental illness?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>It is becoming clear through research that many of these conditions are caused by a combination of
                biological,
                psychological, and environmental factors.</p>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <h3> What Psychological Factors Contribute to Mental Illness?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>specific vulnerabilities such as personality traits, particular extremes in temperament features,
                specific sensitivities to negative emotions, cognitive susceptibility,
                dysfunctional attitudes, hopelessness, negative distortions.</p>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <h3> What to do if I know someone who have mental disorder?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>Do not just think that they will snap out of it. Notify a family member, a mental health professional,
                a counselor if you think a friend or family member has symptoms of a mental disorder.</p>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <h3> Is it okay to stop taking medication after i feel better?</h3>

            <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>

        </div>
        <div class="answer">
            <p>By this you may develop withdrawal symptoms that can be very unpleasant. If your doctor feel you need to
                stop your medication,
                it is necessary to discuss it with your physician</p>
        </div>
    </div>

</section>
<hr>
{% include 'base/footer.html' %}

<script src="{% static 'js/FAQ.js' %}"></script>


</body>
</html>