{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/StyleSheet.css' %}">
</head>
<footer class="footer" style="margin-top:{{ footer_margin }};">
    <div class="footersummary">
        <p Style="font-weight:bold;font-size:25px">Mental Health Care</p>
        <br>
        <p>Mental Health Care, a transformative platform dedicated to supporting the mental well-being of
            University of Jordan students.</p>
        <br>
        <p>Note that this website is not intended for personal disclosure of suicidal thoughts or behaviors.
            If you are in crisis, please <span Style="color:#fff500"><strong>Call 911</strong></span> or visit your
            nearest emergency department for immediate assistance.</p>
    </div>

    <div class="vl"></div>

    <div class="offer">
        <p Style="font-weight:bold; font-size:25px;padding-bottom:12px;">Our Services:</p>
        <ul>
            <li>Mental Health Consultations.</li>
            <li>Support, to cope with mental health challenges.</li>
            <li>Educational Materials, to empower you with knowledge.</li>
        </ul>
    </div>

    <div class="vl2"></div>

    <div class="security">
        <p>We care deeply about your privacy and want you to feel secure when using our services.
            Rest assured, all your personal information is handled with utmost confidentiality and stored in
            a secure manner.</p>
    </div>
    <p class="copyrights"> Copyright© 2022 Mental Health care || All Rights Reserved</p>

</footer>
</html>